@font-face
{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-Italic-VariableFont_wght.ttf');
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bloc_page
{
    display: flex;
    flex-direction: column;
    width: 1230px;
}

/*header*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100px;
}

#logo
{
    width: 100px;
}

nav ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}

nav li
{
    font-size: 1em;
    margin-left: 25px;
    margin-right: 5px;
    
}

nav a
{
    text-decoration: none;
    padding: 15px;
}

#inscrire
{
    color: #0065fc;
    font-weight: bold;
}

nav a:hover
{
    border-top: 2px #0065fc solid;
    padding-top: 20px;
    color: #0065fc;
}
/*Fin header*/

h1
{
    font-size: 1.4em;
}

h1 + p
{
    font-size: 1em;
}


/*barre de localisation*/
#localisation
{
    display: flex;
    align-items: baseline;
    width: auto;
    
}

.fa-map-marker-alt
{
    font-size: 1.2em;
    padding: 15px 15px 15px 20px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    border: 3px #f2f2f2 solid;
}


#ville
{
    font-size: 1.2em;
    padding: 15px;
    color: black;
    font-weight: bold;
    border: 1px #f2f2f2 solid;
    border-right: none;
}

#bouton_rechercher
{
    font-size: 1.2em;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    border: 1px #0065fc solid;
    color: white;
}
/*section*/

#filtre
{
    display: flex;
    align-items: baseline;
}

ul
{
    display: flex;
    list-style: none;
    color: #0065fc;
}

.fa-money-bill-wave
{
    font-size: 1.3em;
    background-color: #DEEBFF;
    padding: 13px 10px 13px 10px ;
    border-radius: 200px;
    margin-right: 5px;
}

.fa-child
{
    
    font-size: 1.3em;
    background-color: #DEEBFF;
    padding: 13px 14px 13px 14px ;
    border-radius: 200px;
    margin-right: 5px;
}

.fa-heart
{
    
    font-size: 1.3em;
    background-color: #DEEBFF;
    padding: 13px 12px 13px 12px ;
    border-radius: 200px;
    margin-right: 5px;
}

.fa-dog
{
    
    font-size: 1.3em;
    background-color: #DEEBFF;
    padding: 13px 12px 13px 12px ;
    border-radius: 200px;
    margin-right: 5px;
}

.filtreli
{
    margin: 10px;
    padding-right: 5px;
    border: 2px #f2f2f2 solid;
    border-radius: 200px;
}

.filtreli :hover
{
    cursor: pointer;
    background-color: white;
}



/* info*/


#info
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fa-info
{
    font-size: 1.4em;
    color: #0065fc;
    border-radius: 2000px;
    margin-right: 20px;
    border: 3px #f2f2f2 solid;
    padding: 6px 13px 6px 13px;
  
}

#info p
{
    font-size: 1.2em;
}


/*article*/

main
{
    display: flex;
}

h2
{
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 30px;
}

h3
{
    font-size: 1em;
    margin: 5px 0 0 0;
    color: black;
}

main p
{
    margin: 5px 0 15px 0px;
    color: black;
    
}

article
{
    background-color: #f2f2f2;
    border-radius: 20px;
    flex: 2;
    margin-left: 5px;
    margin-right: 20px;
    flex-wrap: wrap;
    height: auto;
}

.bloc
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    margin: 0;
}

#marseille
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

main a:hover
{
    transform: scale(1.1);
}

#bloc1
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    
}

#bloc2
{
    display: flex;
    justify-content: space-around;
    vertical-align: bottom;
    width: 100%;
}

.ch
{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100px;  
    object-fit: cover;  
}

.lieu
{
    border: 6px white solid;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    overflow: hidden;
    margin: 5px;
    text-decoration: none;
    display: flex;
}

h4
{
    padding-left: 40px;
    font-size: 1em;
    color: black;
    
}

.more
{
    text-decoration: none;
}

.star
{
    margin-bottom: 10px;
    margin-left: 0;
    
}

.fa-star
{
    color: #0065fc;
}

.fa-star.grey
{
    color: #f2f2f2;
}


/*aside*/
aside
{
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 5px;
}

#titreaside
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fa-chart-line
{
    margin-right: 40px;
    font-size: 1.3em;
}

.pop
{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 6px white solid;
    background-color: white;
    border-radius: 20px;
}

.ch2
{
    border-radius: 20px 0 0 20px;
    width: 140px;
    height: 140px;
    object-fit: cover;
}

#ch2
{
    border-radius: 20px 0 0 20px;
    width: 160px;
    height: 140px;
    object-fit: cover;
}

.populaire
{
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.starpop
{
    margin-top: 30px;
    margin-left: 0;
}

/*section 2*/

#act
{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#paquet
{
    display: flex;
}

#paquet1
{
    display: flex;
    margin-right: 40px;
    margin-left: 0;
}

#paquet2
{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 0;
}

#paquet3
{
    display: flex;
    margin-right: 40px;
    margin-left: 0;
}
#paquet4
{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 0;
}


h5
{
    font-size: 1.5em;
    margin-bottom: 10px;
}

figcaption
{
    font-size: 1em;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gr1
{
    width: 276px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 6px #f2f2f2;
    border-radius: 20px;
    text-decoration: none;
}

.gr2
{
    width: 276px;
    height: auto;
    box-shadow: 6px 6px 6px #f2f2f2;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.gr3
{
    width: 276px;
    height: auto;
    box-shadow: 6px 6px 6px #f2f2f2;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.gr4
{
    width: 276px;
    height: auto;
    box-shadow: 6px 6px 6px #f2f2f2;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.gr5
{
    width: 276px;
    height: auto;
    box-shadow: 6px 6px 6px #f2f2f2;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


.phgrande
{
    width: 276px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phpetite
{
    width: 276px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phtrespetite
{
    width: 276px;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phmoyenne
{
    width: 276px;
    height: 220px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


/*footer*/

footer
{
    display: flex;
    width: 1440px;
    max-width: 1440px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
}



#a_propos
{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

#nos_hebergements
{
    margin-left: 160px;
    margin-right: 160px;
}


#liste_a_propos
{
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
}

#liste_nos_hebergements
{
    list-style: none;
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
}

#liste_assistance
{
    list-style: none;
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
}

a
{
    text-decoration: none;
    color: black;
}
