@font-face
{
    font-family: 'Raleway';
    src: url('Police/Raleway-Italic-VariableFont_wght.ttf');
    src: url('Police/Raleway-VariableFont_wght.ttf');
}

body
{
    width: 100%;
    margin: 0;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: #000;
}

h1, h2, h3, strong
{
    font-weight: bold;
}

.fa-star
{
    color: #0065FC;
    font-size: 0.9rem;
}

.fa-star.grey
{
    color: #F2F2F2;
}

/*header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw 2vw 5vw;
}

.logo
{
    width: 100px;
}

nav ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30vw;
    height: 40px;
    padding-right: 30px;
}

nav ul li
{
    font-size: 1.3em;
    list-style: none;
}

.sinscrire
{
    color: #0065FC;
}

.espacement
{
    margin-left: 30px;
}

.menu
{
    padding: 0 20px 0 20px;
}

.menu:hover
{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 20px;
    
}

/*section recherche*/

.recherche
{
    margin: 0 5vw 0 5vw;
}

h1
{
    margin-bottom: 0px;
}

h1 + p
{
    margin-top: 0.5vw;
    margin-bottom: 2vw;
}

.bloc_recherche
{
    display: flex;
    align-items: baseline;
    width: 30vw;
    margin: 10px 0 20px 0;
}

.fa-map-marker-alt
{   
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    border: 3px #F2F2F2 solid;
    font-size: 1rem;
}

.ville
{
    padding: 15px;
    color: black;
    font-weight: bold;
    border-right: none;
    border: 2px #F2F2F2 solid;
    font-size: 1rem;
    height: 53px;
}

.bouton_rechercher
{
    color: white;
    padding: 15px;
    background-color: #0065FC;
    border:3px #0065FC solid;
    border-radius: 0 15px 15px 0;
}

.iconesearch
{
    display: none;
}

/*section filtre*/

.filtre
{
    display: flex;
    align-items: center;
    margin: 3vw 5vw 3vw 5vw;
}

h2 + ul
{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    list-style: none;
    color: #0065FC;
    flex-wrap: wrap;
}

.fa-money-bill-wave, .fa-heart, .fa-dog
{
    background-color: #DEEBFF;
    padding: 15px ;
    border-radius: 200px;
    margin: -3px 5px -3px -3px;
    border: 3px #DEEBFF solid;
}

.fa-child
{
    background-color: #DEEBFF;
    padding: 15px 17px 15px 17px ;
    border-radius: 200px;
    margin: -3px 5px -3px -3px;
    border: 3px #DEEBFF solid;
}

.textefiltre
{
    font-size: 1.1rem;
    font-weight: bold;
    padding-right: 15px;
    border-radius: 200px;
}

.filtreli
{
    border: 3px #F2F2F2 solid;
    border-radius: 200px;
}

.filtreli:hover
{
    cursor: pointer;
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

/*info*/

.info
{
    display: flex;
    align-items: center;
    margin: 0.8vw 5vw 1vw 5vw;
}

.fa-info
{
    font-size: 1.2em;
    color: #0065fc;
    border-radius: 2000px;
    margin-right: 20px;
    border: 3px #f2f2f2 solid;
    padding: 6px 13px 6px 13px;
  
}

.info p
{
    font-size: 1.2rem;
}

/*corps*/

.section_hebergements
{
    display: flex;
    margin: 0 5vw 0 5vw;
}

.article_hebergement, .section_populaire
{
    background-color: #f2f2f2;
    border-radius: 20px;
}

.article_hebergement
{
    padding: 1.5vw;
    margin-right: 2vw;
    flex: 3;
}

.section_populaire
{
    flex: 1.2;
}

article h2, .section_hebergements h2
{
    margin-bottom: 2vw;
}

.hebergements
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 2vw 0;
}

.carte_arriere
{
    width: 17vw;
    margin: 0 0 2vw 0;
    background-color: white;
    padding: 5px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);
    font-size: 0.8rem; 
}

.ajustement
{
    margin-bottom: 3rem;
}

.ajustement2
{
   margin-bottom: 10px;
}

.carte_img
{
    width: 17vw;
    height: 7vw;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    
}

.plus
{
    font-size: 1.2rem;
    font-weight: bold;
}

/*pop*/

.section_populaire
{
    padding: 1.5vw 1.5vw 0 1.5vw;
    flex: 1.2;
}

.fa-chart-line
{
    position: absolute;
    right: 6.5vw;
    font-size: 1.5rem;
}

.hebergements_pop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

.cartepoparriere
{
    display: flex;
    width: 25vw;
    height: 10vw;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);
    font-size: 1rem;
    margin: auto;
    margin-bottom: 2vw;
}

.cartepop_img
{
    width: 10vw;
    height: auto;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    object-position: 50% 50%;
}

.pop
{
    margin: 0.2vw;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure h3
{
    margin: 0.2vw;
}

figure p
{
    margin-top: 0px;
    margin-bottom: 2vw;
}


figure h3, figure p
{
    margin-left: 5px;
}

.star
{
    margin-left: 5px;
}

/*Activités*/

.activites
{
    margin: 0 5vw 0 5vw;
}

.paquet
{
    height: 40vw;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.general
{
    display: flex;
    flex-direction: column;
}


.gr2
{
    height: 64.2%;
    
}

.gr4
{
    height: 52.8%;
    
}

figcaption
{
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0 10px 20px;
}

.carte_activites
{
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
    margin-right: 0;
    margin-left: 0;
}

.phgrande
{
    width: 20vw;
    height: 37vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phpetite
{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phtrespetite
{
    width: 20vw;
    height: 11.4vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phmoyenne
{
    width: 20vw;
    height: 15.7vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/*footer*/

footer
{
    background-color: #F2F2F2;
    padding: 1vw 5vw;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
}

.footerbloc
{
    width:25%;
}



footer ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 20vw;
}

@media screen and (max-width:1280px)
{

    .fa-star
    {
        
        font-size: 0.7rem;
    }

    .effet_hover:hover
    {
        transform: scale(1.05);
    }


    nav ul li
    {
        font-size: 1rem;
    }


    .recherche, .info
    {
        font-size: 0.6rem;
    }

    .filtre h2
    {
        margin: 0;
    }

    .textefiltre
    {
        font-size: 0.8rem;
    }

    .filtre
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 80px;
        padding-top: 1vw;
    }

    .filtre ul
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        font-size: 0.8rem;
        width: 90vw;
    }

    .info
    {
        font-size: 1.1rem;
        margin-top: 30px;
    }

    .filtreli
    {
        margin-right: 0.7vw;
    }

    .section_hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .article_hebergement
    {
        margin-right: 0;
    }

    .hebergements_pop
    {
        display: flex;
        flex-direction: row;
    }

    .section_populaire
    {
        margin-bottom: 2vw;
        padding-bottom: 2vw;
        border-radius: 20px;
    }

    .pop
    {
        font-size: 0.7rem;
    }

    .cartepoparriere
    {
        height: 110px;
        margin: 0;
    }

    .carte_arriere
    {
        width: 25vw;
        height: auto;
        font-size: 0.7rem;
    }

    .carte_img
    {
        width: 25vw;
        height: 15vw;
    }

    .carte_arriere p, .carte_arriere h3, .star, figure p
    {
        margin-bottom: 5px;
        margin-top: 5px;
    }


    .lieu
    {
        font-size: 0.6rem;
        margin-left: 10px;
    }

    footer
    {
        margin-top: 5vw;
    }

    footer h3
    {
        font-size: 1.17rem;
    }

    footer>*:not(h3)
    {
        font-size: 0.68rem;
    }
    
}



@media screen and (max-width:768px)
{
    
    .effet_hover:hover
    {
        transform: scale(1.02);
    }

    header
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        margin: 0;
        padding: 0;     
    }

    nav
    {
        width: 100%;
    }

    nav ul
    {
        
        width: 100%;
        height: 50px;
        padding: 0;
    }

    nav ul li
    {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        height: 40px;
    }

    .soulignement
    {
        border-bottom: 2px #F2F2F2 solid;
    }

    .soulignement:hover
    {
        color: #0065FC;
        border-bottom: 3px #0065FC solid;
    }

    .menu
    {
        margin: 0;
        padding: 0;
        height: 40px;
    }

    .menu:hover
    {
        border-top: none;
        padding: 0;
        margin: 0;
    }

    .logo
    {
        padding-left: 30px;
    }

    .inscrire
    {
        position: absolute;
        width: auto;
        top: 10px;
        right: 20px;
        font-size: 1.3rem;
    }
    
    h1, h1 + p
    {
        font-size: 1.05rem;
        margin-bottom: 10px;
    }

    h2
    {
        font-size: 1.2rem;
    }

    .article_hebergement, .recherche, .filtre, .info, .section_populaire
    {
        padding: 0 10px 0 10px;
    }

    .ville
    {
        border-right: none;
        width: 100%;
        font-size: 0.6rem;
    }

    .bouton_rechercher
    {        
        display: none;
    }

    .iconesearch
    {
        display: unset;
        background-color: #0065FC;
        padding: 18px;
        color: white;
        border: 2px #0065fc solid;
        border-radius: 15px;
    }

    .bloc_recherche
    {
        display: flex;
        align-items: center;
        border: 2px #F2F2F2 solid;
        border-radius: 20px 15px 15px 20px;
        width: 80%;
        height: 50px;
    }

    .filtre
    {
        height: auto;
        width: 60%;
    }


    .filtre ul
    {
        display: flex;
        justify-content: flex-start;
        align-content: space-between;
    }

    .filtreli
    {
        margin: 5px 5px 5px 0;
    }

    .info
    {
        font-size: 1rem;
    }

    .section_hebergements
    {
        margin: 0 0 30px 0;
    }

    .section_populaire
    {
        border-radius: 0;
        padding-left: 0.8em;
    }

    .hebergements_pop, .hebergements, footer
    {
        display: flex;
        flex-direction: column;
    }

    .cartepoparriere
    {
        width: 98%;
        margin-bottom: 15px;
    }

    .cartepop_img
    {
        width: 30vw;
    }

    .pop
    {
        font-size: 1rem;
    }

    .article_hebergement
    {
        width: 96%;
        background-color: white;
        padding: 0 0 0 0.5em;
    }

    .carte_arriere
    {
        font-size: 1rem;
        width: 96%;
        height: 230px;
        margin-bottom: 15px;
    }

    .carte_img
    {
        width: 100%;
        height: 150px;
    }

    .activites
    {
        width: 96%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 0 0 0.8em;
    }

    .paquet
    {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .general, .carte_activites, .phgrande, .phmoyenne, .phpetite, .phtrespetite
    {
        width: 99%;        
    }    

    

    .phgrande, .phmoyenne, .phpetite, .phtrespetite
    {
        height: 200px;
    }

    .lieu
    {
        font-size: 1rem;
    }

    .carte_activites
    {
        margin-bottom: 0;
    }

    footer h3
    {
        font-size: 1rem;
    }

    .footerbloc, .listefooter
    {
        width: 80vw;
    }
    
}