@font-face
{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-Italic-VariableFont_wght.ttf');
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

body
{
    border: 2px black solid;
    margin: 0px;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: #000;
}

h1, h2, h3, strong
{
    font-weight: bold;
}

body>*:not(footer)
{
    width: 90%;
    margin:auto;
}

.fa-star
{
    color: #0065FC;
    font-size: 0.9rem;
}

.fa-star.grey
{
    color: #F2F2F2;
}

.effet_hover:hover
{
    transform: scale(1.1);
}

/*header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    
}

#logo
{
    width: 150px;
}

nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 2vw;
}

nav ul li
{
    font-size: 1.3rem;
    list-style: none;
}

#inscrire
{
    color: #0065FC;
}

.menu:hover
{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 20px;
}

/*section recherche*/

h1
{
    margin-bottom: 0px;
}

h1 + p
{
    margin-top: 0.5vw;
    margin-bottom: 2vw;
}

.bloc_recherche
{
    display: flex;
    align-items: baseline;
    width: 30vw;
    height: 4vw;
    margin: 1vw 0 2vw 0;
}

.fa-map-marker-alt
{   
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    border: 3px #F2F2F2 solid;
    font-size: 1rem;
}

.ville
{
    padding: 15px;
    color: black;
    font-weight: bold;
    border-right: none;
    border: 1px #F2F2F2 solid;
    font-size: 1rem;
}

.bouton_rechercher
{
    color: white;
    padding: 15px;
    background-color: #0065FC;
    border:3px #0065FC solid;
    border-radius: 0 15px 15px 0;
}



/*section filtre*/

.filtre
{
    display: flex;
    align-items: center;
    margin: 3vw 0 3vw 0;
}

h2 + ul
{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    list-style: none;
    color: #0065FC;
    flex-wrap: wrap;
}

.fa-money-bill-wave, .fa-heart, .fa-dog
{
    background-color: #DEEBFF;
    padding: 15px ;
    border-radius: 200px;
    margin: -3px 5px -3px -3px;
    border: 3px #DEEBFF solid;
}

.fa-child
{
    background-color: #DEEBFF;
    padding: 15px 17px 15px 17px ;
    border-radius: 200px;
    margin: -3px 5px -3px -3px;
    border: 3px #DEEBFF solid;
}

.textefiltre
{
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 15px;
    border-radius: 200px;
}

.filtreli
{
    border: 3px #DEEBFF solid;
    border-radius: 200px;
}

.filtreli :hover
{
    cursor: pointer;
    background-color: white;
}

/*info*/

.info
{
    display: flex;
    align-items: center;
    margin-top: 0.8vw;
    margin-bottom: 1vw;
}

.fa-info
{
    font-size: 1.4em;
    color: #0065fc;
    border-radius: 2000px;
    margin-right: 20px;
    border: 3px #f2f2f2 solid;
    padding: 6px 13px 6px 13px;
  
}

.info p
{
    font-size: 1.2rem;
}



/*corps*/


.section_hebergements
{
    display: flex;
    margin: auto;
}

.article_hebergement, aside
{
    background-color: #f2f2f2;
    border-radius: 20px;
}

.article_hebergement
{
    padding: 1.5vw;
    margin-right: 2vw;
    flex: 3;
}

aside
{
    flex: 1.2;
}

article h2, aside h2
{
    margin-bottom: 2vw;
}

.hebergements
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 2vw 0;
}

.carte_arriere
{
    width: 15vw;
    margin: 0 0 2vw 0;
    border: 1px white solid;
    background-color: white;
    padding: 5px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);
    font-size: 0.8rem; 
}

.carte_img
{
    width: 15vw;
    height: 7vw;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    
}

.plus
{
    font-size: 1.2rem;
    font-weight: bold;
}


/*pop*/

aside
{
    padding: 1.5vw;
    flex: 1,2;
}

.titrepop
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fa-chart-line
{
    font-size: 1.5rem;
}

.hebergements_pop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}


.cartepoparriere
{
    display: flex;
    width: 25vw;
    height: 11vw;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.253);
    font-size: 1rem;
    margin: auto;
    margin-bottom: 2vw;
}

.cartepop_img
{
    width: 10vw;
    height: 11vw;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    object-position: 50% 50%;
    
}

.pop
{
    margin: 0.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure h3
{
    margin: 0.2vw;
}

figure p
{
    margin-top: 0px;
    margin-bottom: 3vw;
}


figcaption, figure h3, figure p
{
    margin-left: 0.8vw;
}


/*Activités*/

#activites
{
    margin: 4vw auto;
}


#paquet
{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.gr1
{
    display: flex;
    flex-direction: column;
}

.gr2
{
    display: flex;
    flex-direction: column;
}

.gr3
{
    display: flex;
}
.gr4
{
    display: flex;
    flex-direction: column;
}

figcaption
{
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0 10px 20px;
}

.carte_activites
{
    width: 20vw;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 6px #f2f2f2;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 0;
    margin-left: 0;
}

.phgrande
{
    width: 20vw;
    height: 35vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phpetite
{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phtrespetite
{
    width: 20vw;
    height: 11.4vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.phmoyenne
{
    width: 20vw;
    height: 15.7vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/*footer*/

footer
{
    background-color: #F2F2F2;
    padding: 1vw 5vw;
    display: flex;
    justify-content: space-between;
}

.footerbloc
{
    width:25%;
}

footer ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}